@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 320px) and (max-width: 480px){
    ul{
        display: flex;
        margin: auto;
        position: relative;
        top: 120px;
        list-style: none;
        justify-content: center;
        gap: 30px;
    
        transition-timing-function: ease;
    }
}